.TeamContainer {
  display: block;
  background-color: red;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 25%;
  min-width: 250px;
  margin-left: 10px;
}

.SeedContainer {
  width: 10%;
  text-align: center;
  background-color: green;
  height: 25px;
  position: relative;
  top: 1;
  border-radius: 5px 0 0 5px;

}

.TeamName {
  color: black;
  margin-left: 10px;
  /*padding: 5px 0;*/
}

.SeedContainer, .TeamName {
  display: inline-block;
}

.Seed, .TeamName {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 3px;
}
